<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/bundle.min.css"/>
    <title>LNbits</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<body data-theme="bitcoin">
<q-layout id="vue" view="hHh lpR lfr" v-cloak>
    <q-header bordered class="bg-marginal-bg">
        <q-toolbar>
            <q-toolbar-title>
                <q-btn flat no-caps dense size="lg" type="a" href="/"><a href="/"
                                                                         class="inherit q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle q-btn--actionable q-focusable q-hoverable q-btn--no-uppercase q-btn--wrap q-btn--dense q-btn--active"
                                                                         style="font-size: 20px">
                    <span><strong>LN</strong>bits</span> </a></q-btn>
            </q-toolbar-title>
            <q-badge v-if="g.offline" color="red" text-color="white" class="q-mr-md"><span>OFFLINE</span></q-badge>
            <q-btn-dropdown dense flat round size="sm" icon="language" class="q-pl-md">
                <q-list v-for="(lang, index) in g.langs" :key="index">
                    <q-item clickable v-close-popup @click="changeLanguage(lang.value)">
                        <q-item-section>
                            <q-item-label>{{lang.display ?? lang.value.toUpperCase()}}</q-item-label>
                            <q-tooltip>{{lang.label}}</q-tooltip>
                        </q-item-section>
                    </q-item>
                </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown v-if="g.allowedThemes && g.allowedThemes.length > 1" dense flat round size="sm"
                            icon="dashboard_customize" class="q-pl-md">
                <div class="row no-wrap q-pa-md">
                    <q-btn v-if="g.allowedThemes.includes('classic')" dense flat @click="changeColor('classic')"
                           icon="format_color_fill" color="deep-purple" size="md">
                        <q-tooltip>classic</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('bitcoin')" dense flat @click="changeColor('bitcoin')"
                           icon="format_color_fill" color="orange" size="md">
                        <q-tooltip>bitcoin</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('mint')" dense flat @click="changeColor('mint')"
                           icon="format_color_fill" color="green" size="md">
                        <q-tooltip>mint</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('autumn')" dense flat @click="changeColor('autumn')"
                           icon="format_color_fill" color="brown" size="md">
                        <q-tooltip>autumn</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('monochrome')" dense flat @click="changeColor('monochrome')"
                           icon="format_color_fill" color="grey" size="md">
                        <q-tooltip>monochrome</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('salvador')" dense flat @click="changeColor('salvador')"
                           icon="format_color_fill" color="blue-10" size="md">
                        <q-tooltip>elSalvador</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('freedom')" dense flat @click="changeColor('freedom')"
                           icon="format_color_fill" color="pink-13" size="md">
                        <q-tooltip>freedom</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('cyber')" dense flat @click="changeColor('cyber')"
                           icon="format_color_fill" color="light-green-9" size="md">
                        <q-tooltip>cyber</q-tooltip>
                    </q-btn>
                    <q-btn v-if="g.allowedThemes.includes('flamingo')" dense flat @click="changeColor('flamingo')"
                           icon="format_color_fill" color="pink-3" size="md">
                        <q-tooltip>flamingo</q-tooltip>
                    </q-btn>
                </div>
            </q-btn-dropdown>
            <q-btn dense flat round @click="toggleDarkMode" :icon="($q.dark.isActive) ? 'brightness_3' : 'wb_sunny'"
                   size="sm">
                <q-tooltip>{{ $t('toggle_darkmode') }}</q-tooltip>
            </q-btn>
        </q-toolbar>
    </q-header>
    <q-page-container>
        <q-page class="q-px-md q-py-lg" :class="{'q-px-lg': $q.screen.gt.xs}">
            <div class="row q-col-gutter-md justify-center">
                <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
                    <q-card class="q-pa-lg">
                        <q-card-section class="q-pa-none">
                            <center><h3 class="q-my-none">Error</h3>          <br/>
                                <q-icon name="warning" class="text-grey" style="font-size: 20rem"></q-icon>
                                <h5 class="q-my-none">HTTP Error 404: Payment does not exist.</h5>          <h4> If you
                                    believe this shouldn't be an error please bring it up on https://t.me/lnbits </h4>
                                <br/></center>
                        </q-card-section>
                    </q-card>
                </div>
        </q-page>
    </q-page-container>
    <q-footer class="bg-transparent q-px-lg q-py-md" :class="{'text-dark': !$q.dark.isActive}">
        <q-space class="q-py-lg lt-sm"></q-space>
        <q-toolbar class="gt-sm">
            <q-toolbar-title class="text-caption"> LNbits, free and open-source lightning wallet <br/> <small>{{
                $t('lnbits_version') }}: 0.10.6, </small> <small>{{ $t('commit_version') }}:
                02bf2f98190a529d03eda94b5cfe4ee5e636c75d</small></q-toolbar-title>
            <q-space></q-space>
            <q-btn flat dense :color="($q.dark.isActive) ? 'white' : 'primary'" type="a" href="/docs" target="_blank"
                   rel="noopener"> {{ $t('api_docs') }}
                <q-tooltip>{{ $t('view_swagger_docs') }}</q-tooltip>
            </q-btn>
            <q-btn flat dense :color="($q.dark.isActive) ? 'white' : 'primary'" icon="code" type="a"
                   href="https://github.com/lnbits/lnbits" target="_blank" rel="noopener">
                <q-tooltip>{{ $t('view_github') }}</q-tooltip>
            </q-btn>
        </q-toolbar>
    </q-footer>
</q-layout>        <!---->
<script src="/static/bundle.min.js"></script>        <!---->
<script type="text/javascript">      const themes = ["bitcoin", "mint", "freedom", "classic", "autumn", "monochrome", "salvador"]
const LNBITS_DENOMINATION = "sats"
if (themes && themes.length) {
    window.allowedThemes = themes.map(str => str.trim())
}
window.langs = [{value: 'en', label: 'English', display: 'EN'}, {
    value: 'de',
    label: 'Deutsch',
    display: 'DE'
}, {value: 'es', label: 'Español', display: 'ES'}, {value: 'jp', label: '日本語', display: 'JP'}, {
    value: 'fr',
    label: 'Français',
    display: 'FR'
}, {value: 'it', label: 'Italiano', display: 'IT'}, {value: 'pi', label: 'Pirate', display: 'PI'}, {
    value: 'nl',
    label: 'Nederlands',
    display: 'NL'
}, {value: 'we', label: 'Cymraeg', display: 'CY'}, {value: 'pl', label: 'Polski', display: 'PL'}, {
    value: 'pt',
    label: 'Português',
    display: 'PT'
}, {value: 'br', label: 'Português', display: 'BR'}]    </script>
<script>    new Vue({
    el: '#vue', mixins: [windowMixin], data: function () {
        return {}
    }
})  </script>
</body>
</html>